{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://www.google.com/recaptcha/api.js?render=6LcUJYsmAAAAAC_rjShi2_WWfcdtQXxS_iKJwlsp"></script>
</head>
<body>
<form id="subRes" method="post" action="{% url 'api:v1:auth_app:reset-password-confirm' %}" accept-charset="utf-8" class="form" role="form">
  {% csrf_token %}
  <input type="password" id="password_1" name="password_1" value="" class="form-control input-lg" placeholder="Password"/>
  <input type="password" id="password_2" name="password_2" value="" class="form-control input-lg" placeholder="Confirm Password"/>
  <button type="submit">Confirm </button>
</form>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
    $.getScript('{% static 'auth_app/js/reset_password.js' %}');
})
</script>
</html>
